body {
    display: flex;
    flex-direction: column;
    align-items: center;
    background-image: url(background.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    background-color: #010000;
    height: 100vh;
}

h1 {
    margin-top: 10rem;
    font-size: 50px;
    color: white;
    text-shadow: -1px -1px 0 #000, 1px -1px 0 #000, -1px 1px 0 #000, 1px 1px 0 #000;
}



input {
    border-radius: 25px;
    border: 2px solid #ccc;
    padding: 10px;
}

#colorselect {
    border-radius: 25px;
    border: 2px solid #ccc;
    padding: 10px;
    transition: transform 300ms ease, background 250ms ease;
}

#submitter {
    border-radius: 25px;
    border: 2px solid #ccc;
    padding: 10px;
    width: 120px;
    transition: transform 300ms ease, background 300ms ease;
}

#submitter:hover {
    transform: translateY(-0.25em);
    background-color: #fbe182;
}

    

#images {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;

    background-color: rgba(0, 0, 0, 0.5);

    max-width: 1100px;
    flex-wrap: wrap;
    padding: 0;
    margin: auto;
    margin-top: 5rem;;
}

#images li {
    list-style: none;
    margin: 2rem;
    text-align: center;
    color: white;

}

li div {
    width: 300px;
    height: 300px;
    overflow: hidden;}

#images li img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    object-position: center;

}

li h2 {
    font-family: sans-serif;
    max-width: 300px;
}


#pages button {
    display: inline-block;
    margin: 1rem;
    border-radius: 25px;
    border: 2px solid #ccc;
    padding: 10px;
}

@media(max-width: 1200px) {
    #images {
        width: 100%;
        margin: auto;
        align-items: center;
    }

    input {
        width: 6em;
    }
}

@media (max-width: 600px) {
    h1 {
        font-size: 35px;
        margin-top: 5rem;
    }
}