body {
    display: flex;
    flex-direction: column;
    align-items: center;
    background-image: url(background.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    background-color: #010000;
    font-family: 'Raleway', sans-serif;
    height: 100vh;
}

input[type="text"], #colorselect, #submitter, #previous, #next
{
    font-family: 'Raleway', sans-serif;

}

.hidden{
    visibility: hidden;
}


h1 {
    margin-top: 10rem;
    font-size: 75px;
    color: white;
    text-shadow: -1px -1px 0 #000, 1px -1px 0 #000, -1px 1px 0 #000, 1px 1px 0 #000;
}

form{

    display: flex;
    flex-wrap: wrap;
    width: 640px;
    justify-content: center;
    gap: 5px;
}

input[type=text]{
    padding-left: 40px;
    padding-top: 10px;
    padding-bottom: 10px;
    background-image: url(49116.png);
    background-position: 10px center;
    background-repeat: no-repeat;
    background-size: 20px 20px;
    width: 400px;
    font-size: 25px;
    border-radius: 25px;
    border: 2px solid #ccc;
 
}

#colorselect {
    border-radius: 25px;
    border: 2px solid #ccc;
    padding: 10px;
    transition: transform 300ms ease, background 250ms ease;
}

option:hover{
    background-color: black;
}

#colorselect option[value="any"] {
    background-color: white; /* set the background color for the "Any Color" option */
  }
  
  #colorselect option[value="red"] {
    background-color: red;
    color: var(--color)

  }
  
  #colorselect option[value="orange"] {
    background-color: orange;
  }
  
  #colorselect option[value="yellow"] {
    background-color: yellow;
  }
  
  #colorselect option[value="green"] {
    background-color: green;
  }
  
  #colorselect option[value="blue"] {
    background-color: blue;
  }
  
  #colorselect option[value="purple"] {
    background-color: purple;
  }
  
  #colorselect option[value="pink"] {
    background-color: pink;
  }
  
  #colorselect option[value="brown"] {
    background-color: brown;
  }
  
  #colorselect option[value="gray"] {
    background-color: gray;
  }
  
  #colorselect option[value="black"] {
    background-color: black;
  }
  
  #colorselect option[value="white"] {
    background-color: white;
  }

#submitter {
    border-radius: 25px;
    border: 2px solid #ccc;
    padding: 10px;
    width: 120px;
    transition: transform 300ms ease, background 300ms ease;
}

#submitter:hover {
    transform: translateY(-0.25em);
    background-color: #fbe182;
}



#images {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;

    background-color: rgba(0, 0, 0, 0.5);

    max-width: 1100px;
    flex-wrap: wrap;
    padding: 0;
    margin: auto;
    margin-top: 5rem;;
}

#images li {
    list-style: none;
    margin: 2rem;
    text-align: center;
    color: white;

}

li div {
    width: 300px;
    height: 300px;
    overflow: hidden;}

#images li img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    object-position: center;

}

li h2 {
    max-width: 300px;
}


#pages button {
    display: inline-block;
    margin: 1rem;
    border-radius: 25px;
    border: 2px solid #ccc;
    padding: 10px;
}

@media(max-width: 1200px) {
    #images {
        width: 100%;
        margin: auto;
        align-items: center;
    }

    input {
        width: 6em;
    }
}

@media (max-width: 600px) {
    h1 {
        font-size: 35px;
        margin-top: 5rem;
    }
}