body{
    display: flex;
    flex-direction: column;
    align-items: center;
    background-image: url(background.jpg);
    background-size: cover;
    background-repeat: no-repeat;
}

h1{
    margin-top: 10rem;
    font-size: 50px;
    color: white;
    text-shadow: -1px -1px 0 #000, 1px -1px 0 #000, -1px 1px 0 #000, 1px 1px 0 #000;

}

#input-field {
    border-radius: 25px;
    border: 2px solid #ccc;
    padding: 10px;
    font-size: 16px;
    width: 300px;
  }

input {
    border-radius: 25px;
    border: 2px solid #ccc;
    padding: 10px;
}

#colorselect{
    border-radius: 25px;
    border: 2px solid #ccc;
    padding: 10px;
}

#submitter {
    border-radius: 25px;
    border: 2px solid #ccc;
    padding: 10px;
    width: 120px;
}

#images{
    display: flex;
    flex-direction: row;
    width: 1500px;
    flex-wrap: wrap;
}

#images li{
    list-style: none;
    margin: 1rem;
}

#images li img{
    width: auto;
    height: auto;
}

#page-toggler {
    position: absolute;
    bottom: 1em;
    display: flex;
    column-gap: 6em;
}

#page-toggler button {
    border-radius: 25px;
    border: 2px solid #ccc;
    padding: 10px;
}